{% extends "posts/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container shadow bg-white rounded mt-5 mb-5 p-3">
    <form action="" method="POST">
        {% csrf_token %}
        <fieldset>
            <legend class="text-center">Register</legend>
            <div class="form-group">
                {{ form|crispy }}
            </div>
            <div class="form-group">
                <button class="btn btn-outline-dark" type="submit">Sign up</button>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}