{% extends "posts/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="d-flex ">
<div class="mx-auto shadow-lg bg-white rounded mt-5 mb-5 p-3">
    <div >
      <div class="mx-auto">
    <form action="" method="POST">
        {% csrf_token %}
        <fieldset>
            <legend class="text-center mb-3">Add Comment</legend>
            <div class="form-group">
                {{ form|crispy }}
                {{ form.media }}
            </div>
            <div class="form-group">
                <button class="btn btn-outline-info">comment</button>
            </div>
        </fieldset>
    </form>
    </div>
</div>
</div>
{% endblock %}
