{% extends "posts/base.html" %}

{% block content %}
<div class="container">
    <div class="card shadow-lg rounded bg-white mt-5 mb-5"> 
   
        <div class="card-body"> 
        <div class="row"> 
        <div class="col-2">
     <img class="ml-3 img-fluid" src="{{ user.profile.image.url }}" style="border-radius: 50%;width:150px;" alt="Profile Picture">
       
    
</div>
       <div class="col">
            <div class="card-title d-flex">{{ post.title }}  
                <span class="ml-2">by <a href="{% url 'user_posts' object.author.username %}">{{ object.author.username }}</a></span>
                <span class="text-muted ml-auto">{{ object.created_at|date:"F, d Y" }}</span>
            </div>
            <div class="card-text">
                {{ object.content|safe }}
            </div>
            </div>
            
        </div>
        
    </div>
    <div>         
        
        <form action="{% url 'like_post' post.pk %}" method="POST">
            {% csrf_token %}
            {% if liked %}
            <button class="btn btn-outline-danger ml-2 mb-2" type="submit" name="post_id" value={{ post.id }}>{{ total_likes }}dislike(s)</button>
            {% else %}
            <button class="btn btn-outline-info ml-2 mb-2" type="submit" name="post_id" value={{ post.id }}>{{ total_likes }}Like(s)</button>
            {% endif %}
        </form>

    </div>
    </div>
    <div>
        <fieldset>
            <legend class="text-center mt-3">Comments</legend>
            <hr />
            <a class="btn btn-outline-info" href="{% url 'comment-create' post.id %}">Add Comment</a>
            {% if not post.comments.all %}
            No Comments yet...
            {% else %}
            {% for comment in post.comments.all %}
                <div class="card shadow mb-5 bg-white rounded mt-3">
                   
                    <div class="row"> 
                      
                        <div class="col-2">  
                            <img src="{{ comment.user.profile.image.url }}" style="border-radius:50%;width:75px;" class="ml-3 mt-1 img-fluid"  alt="Profile Picture">
                         </div>
                         <div class="col">
                            <div class="card-body">
                        <h6 class="card-title d-flex">{{ comment.user.username }}
                            <span class="ml-auto text-muted">{{ comment.created_at|date:"F, d Y" }}</span>
                        </h6>
                        <p class="card-text">
                            {{ comment.body|safe }}
                        </p>
                    </div>  
                </div>
                </fieldset>
                
             
                </div>
            {% endfor %}
            {% endif %}
        </fieldset>
    </div>
</div>
{% endblock %}